

.App {
  text-align: center;
}

.BackGroundImage {
  display: flex;
  justify-content: center;
  height: 900px;
  /* background-position: 'center'; */
  background-size: 100%;
  background-repeat: no-repeat;
}
.nav{
  display: flex;
  padding-top: 30px;
  background-color:rgb(201, 200, 188);
  border: 1px;
}

.link{
  display: flex;
  font-family: 'Rajdhani', sans-serif;
  margin: 2rem;
  font-size: 1.5rem;
  color: white;
}

.socialContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.social{
  color: grey;
  margin: 10px;
  padding-bottom: 10px;
}

.HomeBanner{
  display: flex;
  padding-top: 95px;
  color: rgb(75, 71, 71);
  display: flex;
  justify-content: center; 
}

.menu{
  display: flex;
  background-color:rgb(201, 200, 188);
  border: none;
  color: black;
  padding-left: 30px;
  font-size: 18px;
  justify-content: center;
}